body{
    background-color: rgb(59, 59, 59);
    background-image: url(https://raw.githubusercontent.com/mirzaq19/covid19Counter/master/cbimage.jpg);
    background-attachment: fixed;
}
.hasil {
    font-size: 2em;
}
.data-covid{
    background-color: #242424;
    border-radius: 10px;
    padding: 20px;
    color: azure;
}
.pilihan{
    background-color: #242424;
    border-radius: 10px;
    padding: 20px;
    color: white;
}
.clock{
    background-color: white;
    font-weight: 250;
    text-align: center;
}
@media (max-width : 576px){
    .judul{
        text-align: center;
    }
}

footer{
    width: 100%;
    background-color: rgb(42, 43, 43);
    color: white;
}

.fa-heart{
    color: #dc3545;
}
.copy{
    font-weight: 250;
}
.copy a{
    text-decoration: none;
    color: rgb(49, 123, 207);
}
.img-fluid{
    max-width: 80px;
}
.social{
    margin: 0 auto;
}
.social ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.social ul li{
    float: left;
    padding: 7px;
}
.social ul li a{
    text-decoration: none;
    color: white;
}
.nothing{
    animation: mymove .5s;
}
@keyframes mymove{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}